// COLORS

$color-primary: #1ed761;
$color-primary-dark: #18ae4e;
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-black: #000;

//FONT SIZES

$default-font-size: 1.6rem;