@import "../../styles/abstracts/variables";

.searchbar {

  display: flex;
  flex-direction: column;
  align-items: center;
  
  .input-searchbar {
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
    outline: none;
  
    &:focus {
      border-color: $color-primary;
    }

    
  }
}

