.nav-home {
    justify-content: unset;

    .searchbar-wrapper {
        width: 160rem;
    }
}

.anchor-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.heading-primary {
    letter-spacing: 0.5rem;
}