<div class="row">
  <div class="col">
    <nav class="nav-home">
      <div class="logo-text-wrapper">
        <div class="logo-box">
          <a (click)="onGoHome()" class="anchor-logo">
            <img class="logo" src="./../../../assets/logo.png" alt="logo">
          </a>
        </div>
        <h1 class="heading-primary">SpotySearch</h1>
        
      </div>
      <div class="searchbar-wrapper">
        <app-searchbar [inToolbar]="true"></app-searchbar>
      </div>
      <!-- <button class="btn btn-auth" (click)="refreshToken()">REFRESH TOKEN</button> -->
    </nav>
  </div>
</div>