.nav-home {
    justify-content: unset;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    z-index: 50;

    .searchbar-wrapper {
        width: 160rem;
    }
}

.anchor-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.heading-primary {
    letter-spacing: 0.5rem;
}