<div class="row">
    <div class="col">
        <nav class="nav-home">
            <div class="logo-text-wrapper">
                <div class="logo-box">
                    <img class="logo" src="./../../../assets/logo.png" alt="logo">
                </div>
                <h1 class="heading-primary">SpotySearch</h1>
            </div>
            <!-- <button class="btn btn-auth" (click)="refreshToken()">REFRESH TOKEN</button> -->
        </nav>
    </div>
</div>
<app-searchbar [inToolbar]="false"></app-searchbar>
<!-- <app-favorites-list></app-favorites-list> -->