<app-toolbar></app-toolbar>
<div class="div-loader" *ngIf="loading && !loaded">
    <loaders-css [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="album-wrapper" *ngIf="loaded">
    <div class="album-info-wrapper" *ngIf="album">
        <a [href]="album.external_urls.spotify">
            <img class="album-img" [src]="album.images[1].url" alt="">
        </a>
        <div class="album-info">
            <h1 class="heading-primary">{{album.name}}</h1>
            <p class="info"><strong>Release Date:</strong> {{album.release_date}}</p>
        </div>
    </div>
    <div class="album-tracks-wrapper" *ngIf="album">
        <app-song-list [tracks]="albumTracks" [albumName]="album.name" [albumImg]="album.images[1].url"></app-song-list>
    </div>
</div>