@import "../../../../styles/abstracts/variables";

.album-item {
  width: 35rem;
  display: inline-block;
  // width: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.3rem 1rem rgba($color-grey-dark, 1);
  transition: all .2s;

  .album-info {
    display: flex;
    align-items: center;

    .album-img {
      height: 15rem;
      margin-right: 1rem;
    }

    .album-text {
        display: flex;
        flex-direction: column;
    }

  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.5 0.5rem 4rem rgba($color-black, .5);
  }

  &:active {
    transform: scale(1);
    box-shadow: 0.5 0.5rem 4rem rgba($color-black, .5);
  }
}
