@import '../../../styles/abstracts/variables';

.favorite-list-wrapper {



    .favorite-song-wrapper {
        margin: 2rem 5rem 0 5rem;
        // margin-top: 2rem;
        // margin-right: 5rem;
        // margin-left: 5rem;
    }

    .favorite-title {

        margin: 5rem 7rem 0 7rem; 

        .heading-primary {
            color: $color-black;
            letter-spacing: 1rem;
        }
    }
}