@import '../../../styles/abstracts/variables';
.favorite-list-wrapper {
    .favorite-title {
        margin: 1rem 7rem 0 7rem;
        .heading-primary {
            color: $color-black;
            letter-spacing: 1rem;
        }
    }
    .favorite-song-wrapper {
        margin: 2rem 5rem 0 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .favorite-list-wrapper {
        .favorite-title {
            margin: 1rem 1rem 0 1rem;
            display: flex;
            justify-content: center;
            .heading-primary {
                letter-spacing: normal;
            }
        }
        .favorite-song-wrapper {
            margin: 2rem 1rem 0 1rem;
        }
    }
}